#root {
  height: 100%;
  width: 100%;
}

.container {
  display: flex;
  background-color: #f2f2f2;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.formContainer {
  width: 474px;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.logo {
  display: flex;
  width: 100%;
  height: 51.75px;
  justify-content: center;
  margin-top: 34px;
}

.loginContainer {
  width: 100%;
}

.text {
  text-align: center;
  width: 100%;
  margin-top: 29.25px;
  font-family: Roboto;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 30px;
}

.inputLabel {
  margin-left: 60px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.41px;
  color: #000000;
}

.input,
.input:focus {
  width: 353px;
  height: 46px;
  margin-top: 6px;
  background-color: #e5e5e5;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 8px;
  border: 0px;
  outline: none;
  padding-left: 17.42px;
  margin-bottom: 21px;
  font-family: Roboto;
  font-size: 18px;
}

.forgotPassword {
  display: flex;
  justify-content: flex-end;
  color: #3988ff;
  font-family: Roboto;
  padding-right: 57px;
  font-style: normal;
  font-size: 18px;
  margin-bottom: 30px;
}

.button,
.button:focus {
  width: 357px;
  height: 46px;
  border-radius: 8px;
  border: 1px solid #3988ff;
  background-color: #3988ff;
  margin-bottom: 45px;
  color: #ffffff;
  font-size: 18px;
  font-family: Roboto;
  cursor: pointer;
}

.buttonContainer {
  display: flex;
  justify-content: center;
}

.link {
  text-decoration: none;
}

.textPassword {
  margin-top: 30px;
  width: 239px;
  height: 42px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: Roboto;
  font-size: 18px;
  margin-bottom: 44px;
}

.inputPassword,
.inputPassword:focus {
  width: 353px;
  height: 46px;
  margin-top: 6px;
  background-color: #e5e5e5;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 8px;
  border: 0px;
  outline: none;
  padding-left: 17.42px;
  margin-bottom: 21px;
  font-family: Roboto;
  font-size: 18px;
  margin-bottom: 30px;
}

.orLogin {
  display: flex;
  justify-content: center;
  color: #3988ff;
  font-family: Roboto;
  font-style: normal;
  font-size: 18px;
  margin-bottom: 30px;
}

.inputLabelPassword {
  margin-left: 60px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.41px;
  color: #000000;
}

@media (max-width: 375px) {
  .container {
    background-color: #fff;
  }
  .formContainer {
    width: 100%;
    border-radius: 0px;
    box-shadow: 0px 0px 0px rgb(255, 255, 255);
  }

  .logo {
    margin-top: 40px;
    margin-bottom: 47.25px;
  }

  .text {
    margin-bottom: 199px;
  }

  .input,
  .input:focus {
    width: 274px;
    height: 46px;
  }

  .inputLabel {
    margin-left: 51px;
  }

  .forgotPassword {
    margin-left: auto;
    margin-right: auto;
    width: 274px;
    height: 21px;
    padding-right: 0px;
  }

  .button,
  .button:focus {
    width: 282px;
    height: 46px;
    margin-bottom: 34px;
    margin-left: auto;
    margin-right: auto;
  }

  .textPassword {
    margin-top: 43.25px;
    margin-bottom: 223px;
  }

  .inputPassword,
  .inputPassword:focus {
    width: 282px;
    height: 46px;
    margin-bottom: 43px;
  }

  .inputLabelPassword {
    margin-left: 47px;
  }

  .orLogin {
    margin-bottom: 44px;
  }
}
